<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context.xsd">

    <!--    <context:component-scan base-package="com.transformers.homework.bean.setter"/>-->

    <bean id="exampleBeanSetter" class="com.transformers.homework.bean.setter.ExampleBean">
        <property name="beanOne" ref="anotherExampleBean"/>
        <property name="beanTwo" ref="yetAnotherBean"/>
        <property name="integerProperty" value="1"/>
    </bean>
    <bean id="anotherExampleBean" class="com.transformers.homework.bean.setter.AnotherBean"/>
    <bean id="yetAnotherBean" class="com.transformers.homework.bean.setter.YetAnotherBean"/>

    <bean id="exampleBeanConstructor" class="com.transformers.homework.bean.constructor.ExampleBean">
        <constructor-arg ref="anotherExampleBean"/>
        <constructor-arg ref="yetAnotherBean"/>
        <constructor-arg type="int" value="2"/>
    </bean>

    <bean id="exampleBeanFactoryMethod"
          class="com.transformers.homework.bean.factorymethod.ExampleBean"
          factory-method="createInstance">
        <constructor-arg ref="anotherExampleBean"/>
        <constructor-arg ref="yetAnotherBean"/>
        <constructor-arg value="3"/>
    </bean>

</beans>